<div class="container">
	<div class="row">
	  <div class="title col-lg-12">
		<h1>ようこそTOMOyogaへ</h1>
	  </div>
	</div>
	<h5>こちらのサイトは、ヨガ投稿サイトです。みんなで、ヨガについて共有しましょう!!</h5>
  <h5>ログインして、投稿者の詳細・投稿詳細を確認してみよう！</h5>
  <% if user_signed_in? %>
  <div></div>
  <% else %>
  <h5><%= link_to 'ログイン', new_user_session_path, class:"btn btn-primary"%></h5>
  <h5><%= link_to '新規登録', new_user_registration_path, class:"btn btn-success" %>
    <% end %>
</div>

<% if user_signed_in? %>
<h4>最近のTOP5記事</h4>
<% @all_ranks.each.with_index(1) do |post, i| %>
 　
   第
 <%= i %>
 　位
   <div class="container">
   	 <div class="row">
   	 <div class="col-lg-8">
   	 <div class="row">
   	 	<div class="col-lg-4">
   	 	   <%= link_to post_path(post) do %>
           <%= attachment_image_tag post, :image, :fill, 60,60, fallback: "no_image.jpg", size:'60x60' %><% end %>
        </div>
        <div class="col-lg-8">
          <%= post.title %><br>
          <%= link_to User.full_name(post.user), user_path(post.user) %>
        </div>
     </div>
     </div>
     <div class="col-lg-4" style="background-color: lightpink;">
     	<h2>広告募集中</h2>
     </div>
     </div>
   </div>
<% end %>
<% end %>