<%= attachment_image_tag @post, :image, :fill,500,500, format: 'jpeg',
	            class:"img-circle pull-left profile-img", fallback: "no_image.jpg",size:'500x500' %>
<table class="table">
	<tbody>
		<tr><td><%= @post.title %></td></tr>
	    <tr><td><%= @post.created_at.strftime('%Y/%m/%d') %></td></tr>
	    <tr><td><%= @post.table_content %></td></tr>
	    <tr><td><%= @post.subtitle %></td></tr>
	    <tr><td><%= @post.content %></td></tr>
	</tbody>
</table>

<div class="comment-list bt style-2" id="comments">
	<div class="float-wrapper">
		<h2 class="comment-count"><%= @post.post_comments.count %>
		件コメント</h2>
	</div>
	<ol>
		<% @post.post_comments.each do|post_comment| %>
		<li class="comment">
			<div class="comment-body bb">
				<div class="comment-avatar">
					<div class="avatar">
						<%= attachment_image_tag post_comment.user, :image, :fill, 60,60, fallback: "no_image.jpg",size:'60x60' %>
					</div>
				</div>
				<div class="comment-text">
					<div class="comment-author clearfix">
						<%= link_to user_path(post_comment.user.id) do %>
					    <%= User.full_name(post_comment.user) %><% end %>
					    <span class="comment-meta">
					    	<span class="comment-deta"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
					    </span>
					    <%= post_comment.comment %>
					</div>
			    </div>
			    <% end %>
			</div>
		</li>
	</ol>

<%= form_for [@post, @post_comment] do |f| %>
    <div class="row">
    	<div class="col-sm-12">
    		<%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメントをここに" %>
    	</div>
    </div>
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right btn-primary" %>
<% end %>
<% if @post.favorited_by?(current_user) %>
<li>
	<%= link_to post_favorite_path(@post), method: :delete do %>
	  <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
	  <%= @post.favorites.count %>いいね
	<% end %>
</li>
<% else %>
<li>
    <%= link_to post_favorites_path(@post), method: :post do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <%= @post.favorites.count %>いいね 
    <% end %>
</li>
<% end %>

