<!DOCTYPE html>
<html>
  <head>
    <title>TomoYoga</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <table class="table">
      <thead>
        <tr class="table-1">
          <th class="img-1"><img class="img-1" src="/assets/yoga/meditate-1851165_640.jpg" width="450"></th>
          <th class="img-2"><img  src="/assets/yoga/people-2573216_640.jpg" width="450"></th>
          <th class="img-3"><img  src="/assets/yoga/rock-731140_640.jpg" width="450"></th>
          <th class="img-4"><img  src="/assets/yoga/yoga-2662234_640.jpg" width="450"></th>
        </tr>
      </thead>
    </table>

    <div class="container link-1">
      <div class="row">
        <% if user_signed_in? %>
        <div class="col-lg-12">
          <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link' %>
        </div>
        <div class="col-lg-12">
          <%= link_to '投稿一覧', posts_path,class: 'nav-link' %>
        </div>
        <div class="col-lg-12">
          <%= link_to '投稿者一覧', users_path, class: 'nav-link' %>
        </div>
        <div class="col-lg-12">
          <%= link_to '投稿フォーム', new_post_path, class: 'nav-link' %>
        </div>
        <div class="col-lg-12">
          <%= link_to 'ログアウト', destroy_user_session_path,
            method: :delete, class: 'nav-link' %>
        <% else %>
        
        <% end %>

        </div>
      </div>
    </div>

    <div class = 'container fluid' >
   
      <div class="row">
        <%= yield %>
      </div>
    </div><br><br><br>
    <%= render 'layouts/footer' %>
  </body>
</html>
